* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: transparent;
    padding: 32px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    text-shadow: #000000 1px 1px 5px;
}
body {
    min-height: 100vh;
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(310deg, #000000, #3b11ad);
    color: #ffffff;
}
#Formulario {
position: absolute;
left: 50px;
top: 100px;
}
#nova-tarefa {
    padding: 5px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #000000;
    caret-color: #3b11ad;
    
}
input:focus {
    outline: none;
}
input::placeholder {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
#btnAdicionar {
    text-shadow: #000000 1px 1px 10px;
    background: transparent;
    color: #fff;
    border: none;
}
#lista-de-tarefas {
    position: absolute;
    left: 50px;
    top: 200px;
}

